*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

html,body{
    width:100%;
    height:100%;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 10%;
}

@media (min-width: 768px) {
html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btnCustomY{
    background: #ffd406;
    padding: 5px 6px;
    color: #fff;
    border-radius: 5px;
    border:none;
    display:inline;
    
}

.btnCustomR {
    background:#e02335;
    padding: 5px 6px;
    color: #000;
    border-radius: 5px;
    border: none;
    display:inline;
}

.btnCustomR:hover, .btnCustomY:hover {
        background: gray;
    }


#resumoCustom {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    left: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    display: block; /*Interação com o js*/
    animation-name: openModal;
    animation-duration: 1s;
}
@keyframes openModal{
    from{opacity:0}
    to{opacity:1}
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 5px 10px ;
}
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.modalcontent {
    width: 50%;
    height: 60%;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 90px auto 0 auto;
    padding: 30px;
}

.modalCustom span:hover {
            color: #1b6ec2;
            transition: 350ms;
        }
.closemodal {
    
    float:right;
    color:blue;
    background: red;
    border-radius: 5px;
}

.footer {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    *background-color: #fbf4e5;
    text-align: center;
}

